{% extends "base.html" %}
{% block content %}
<div class="container">
  <div class="row">
    <div class= "section">
      <a href="{{ url_for('display_customers') }}">Home</a>
    </div>
    <h2>Add Address to Our Database</h2>
    <form action="" method="post" name="login">
      {{ form.hidden_tag() }}
      <div class="divider"></div>
      <div class="section">
        <div class="data_container_address">
          <div class="address_bar">Address</div>
          <p>Street:<br>
             {{ form.street_address(size=200) }}<br>
          </p>
          <p>City:<br>
             {{ form.city(size=200) }}
          </p>
          <p>State:<br>
             {{ form.state(size=30) }}
          </p>
          <p>Country:<br>
             {{ form.country(size=30) }}
          </p>
          <p>Zipcode:<br>
             {{ form.zipcode(size=5) }}
          </p>
        </div>
        {% if form.errors %}
          <h2>Errors:</h2>
          {{ form.errors }}
        {% endif %}
      </div>
      </div>
      <div class="divider"></div>
      <div class="section">
        <!-- Additional form fields for the Address should go here -->
      </div>
      <p><input type="submit" value="Create Address"></p>
    </form>
  </div>
</div>
{% endblock %}
