{% extends "base.html" %}
{% block content %}
  <div class="container">
    <div class="row">
      <h1>Welcome to ACME Aircraft Parts</h1>
      <div class= "section">
        <a href="{{ url_for('create_customers') }}">Add a Customer</a>
      </div>
      <div class="divider"></div>
      <div class="section">
        <h3>These are all of our awesome customers:</h3>
        <table class="striped">
          <thead>
            <tr>
              <th data-field="first_name">First Name</th>
              <th data-field="last_name">Last Name</th>
              <th data-field="company">Company</th>
              <th data-field="email">Email</th>
              <th data-field="phone">Phone</th>
              <th data-field="actions">Actions</th>
            </tr>
          </thead>
          {% for customer in customers %}
            <tr>
              <td>{{ customer['first_name'] }}</td>
              <td>{{ customer['last_name'] }}</td>
              <td>{{ customer['company'] }}</td>
              <td>{{ customer['email'] }}</td>
              <td>{{ customer['phone'] }}</td>
              <td><a href="{{ url_for('create_orders', customer_id=customer['customer_id']) }}" class="cta_button">Add Order</a>
                  <a href="{{ url_for('create_address', customer_id=customer['customer_id']) }}" class="cta_button">Add Address</a>
            </tr>
          {% endfor %}
        </table>
        <h3>These are all of our orders:</h3>
        <table class="striped">
          <thead>
            <tr>
              <th data-field="name_of_part">Name of Part</th>
              <th data-field="manufacturer_of_part">Manufacturer of Part</th>
              <th data-field="first_name">Customer First Name</th>
              <th data-field="Last_name">Customer Last Name</th>
            </tr>
          </thead>
          {% for this_order in orders %}   
              <tr>
              <td>{{ this_order['name_of_part'] }}</td>
              <td>{{ this_order['manufacturer_of_part'] }}</td>
              <td>{{ this_order['first_name'] }}</td>
              <td>{{ this_order['last_name'] }}</td>
            </tr>
          {% endfor %}
        </table>
        <h3>These are all customer addresses:</h3>
        <table class="striped">
          <thead>
            <tr>
              <th data-field="first_name">First Name</th>
              <th data-field="last_name">Last Name</th>
              <th data-field="street_address">Street</th>
              <th data-field="city">City</th>
              <th data-field="state">State</th>
              <th data-field="country">Country</th>
              <th data-field="zipcode">Zipcode</th>
            </tr>
          </thead>
          {% for this_address in addresses %}   
              <tr>
              <td>{{ this_address['first_name'] }}</td>
              <td>{{ this_address['last_name'] }}</td>
              <td>{{ this_address['street_address'] }}</td>
              <td>{{ this_address['city'] }}</td>
              <td>{{ this_address['state'] }}</td>
              <td>{{ this_address['country'] }}</td>
              <td>{{ this_address['zipcode'] }}</td>
            </tr>
          {% endfor %}
        </table>
      </div>
    </div>
  </div>
{% endblock %}
