{% extends "base.html" %}
{% block content %}
  <div class="container">
    <div class="row">
      <h1>Welcome to ACME Aircraft Parts</h1>
      <div class= "section">
        <a href="{{ url_for('create_customer') }}">Add a Customer</a>
      </div>
      <div class="divider"></div>
      <div class="section">
        <h3>These are all of our awesome customers:</h3>
        <table class="striped">
          <thead>
            <tr>
              <th data-field="first_name">First Name</th>
              <th data-field="last_name">Last Name</th>
              <th data-field="phone">Phone</th>
              <th data-field="company">Company</th>
              <th data-field="email">Email</th>
            </tr>
          </thead>
          {% for cu in customer %}
            <tr>
              <td>{{ cu['first_name'] }}</td>
              <td>{{ cu['last_name'] }}</td>
              <td>{{ cu['phone'] }}</td>
              <td>{{ cu['company'] }}</td>
              <td>{{ cu['email'] }}</td>
              <td><a href="{{ url_for('create_order', value=cu['customer_id']) }}">Add an Order</a></td>   
            </tr>
          {% endfor %}
        </table>
      </div>
      <div class="section">
        <h3>Orders from Customers:</h3>
        <table class="striped">
          <thread>
            <th data-field="name_of_part">Name of Part</th>
            <th data-field="manufacturer_of_part">Manufacturer of Part</th>
          </thread>
          {% for or in orders %}
            <tr>
              <td>{{ or[1]}}</td>
              
              <td>{{ or[2]}}</td>
            </tr>
          {% endfor %}  
          </table>
      </div>
    </div>
  </div>
{% endblock %}
