/* Add CSS */

body {
    margin: 0;
    padding: 0;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
    background-image: url('../_imgs/background.jpg');
}

.input_bar {
    float: left;
    width: 100%;
    margin-top: 5%;
}

input {
    float: left;
    width: 60%;
    height: 7%;
    margin-left: 20%;
    border-style: solid;
    border-color: black;
    font-size: 1.5em;
    color: #c9cacb;
    padding-left: 1%;
}

#new-item {
    float: left;
    font-size: 1.5em;
    margin-left: 2%;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 0.3%;
    padding-bottom: 0.4%;
}

#list_todo, #list_completed {
    float: left;
    width: 40%;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-left: 6.6%;
}

#list_todo, #list_completed {
    font-size: 2em;
    margin-left: 6.6%;
}

#list_todo li {
    color: red;
    font-size: 1em;
    margin-left: 10%;

}
#list_completed li {
    color: blue;
    font-size: 1em;
    margin-left: 10%;
    text-decoration: line-through;

}

#todos {
    float: right;
    margin-right: 10%;
    font-size: .5em;
    margin-left: 2%;
    padding: 1% 2% 1% 2%;
}

h2 {
    text-align: center;
}
.lists {
    border-style: solid;
    border-width: 2px;
    border-color: black;
    width: 100%;
    padding-top: 5%;
    padding-bottom: 5%;
}

header h2 {
    text-align: left;
}
