/*Your tablet targeted CSS should go in this file*/

h1 {
    text-align: center;
    font-size: 150%;
    margin-top: 6%;
    margin-bottom: 5%;
}
h3 {
    float: left;
    width: 100%;
    margin: 3% 0 1% 5%;
    font-size: 120%;
}

#navigation {
    float: left;
    width: 100%;
    background-color: #5D90CB;
}

.nav-button {
    text-align: center;
    text-decoration: none;
    float: left;
    width: 33.3%;
    margin-top: 3%;
    margin-bottom: 3%;

}


.project-detail p {
    float: left;
    width: 90%;
    margin-left: 5%;
    text-align: justify;
    line-height: 120%;

}

.project-image img {
    float: left;
    width: 90%;
    margin: 3% 5% 3% 5%;
}

footer {
    font-size: 120%;
    color: white;
    float: left;
    width: 100%;
    text-align: center;
    background-color: #5D90CB;
    padding: 3% 0 3% 0;
}
