/*Your mobile targeted css should go here*/
#navigation {
    width: 100%;
    display; block;
    text-align: center;
    padding: 10px;
}

#navigation a {
    display: inline-block;
    background-color: green;
    color: white;
    text-decoration:none;
    font-weight:bold;
    padding: 5px 10px;
}

#navigation a:hover {
    color: gray;
}

.main-container {
    width: 100%;
}

.project-detail {
    width:90%;
}

.project-image img {
    width:90%;
}