.headerbox h1 {
	font-size: 2em;
}

.dropdown {
	font-size: 0.5em;
}
.pokemon {
	box-sizing: border-box;
	border: solid black 1px;
	margin: 0 -5px -5px 0;
	width: 50%;

}

.bottom {
	display: flex;
	flex-direction: column;
	width: 100%;
	box-sizing: border-box;
	border: solid black 5px;
}

.map {
	order: 2;
}
.navbuttons {
	font-size: 0.5em;
	order: 1;
	width: 25%;
}