<!DOCTYPE html>
<html>
<head>
    <title>Lab-8-Leon</title>
    <link rel="stylesheet" type="text/css" href="static/style.css">
</head>
<body>
    <h1>Output User Submit Data to CSV and Excel.</h1>
    <div user_input>
        <form action="receive" method="post">
             <fieldset>
               <legend>Personal information:</legend>
               Name:<br>
               <input type="text" name="name" value=""><br>
               Email:<br>
               <input type="text" name="email" value=""><br>
               Address:<br>
               <input type="text" name="address" value=""><br><br>
               <input type="submit" value="Submit">
             </fieldset>
        </form>

    </div>
</body>

</html>
